@charset "UTF-8";
/* CSS Document */
html{
	height:100%;
}
body{
	height: 100%;
	padding: 0;
	margin:0;
	font-family: 'Roboto', sans-serif;
	display:flex;
	flex-flow:column;
	font-weight:300;
	text-align:justify;
}
a{
	color:white;
	text-decoration:none;
}
section{
	margin: 0 auto;
	width: 1000px;
}
ul{
	padding: 0;	
	margin: 0;
	list-style-type: none;
}

html{
	height: 100%;
	padding: 0;
	margin: 0;
}

header{
	font-size: 16pt;
	font-family: 'Cinzel', serif;
	text-align: center;
	padding: 10px 0;
	color:white;
	flex:none;
	background:#111;
}

header>section{
	display:flex;
	flex-flow:row;
	justify-content:space-between;
	align-items:center;
}
header::after{
	content:'';
	display:block;
	clear:both;
}
.navbar-nav{ 
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
.main-container{
	height:100vh;
}

.home-main-section,
.carousel,
.item,
.active,
.carousel-inner,.carousel-item{
    height: 100%;
}

.carousel-inner,.carousel-item,.carousel {
	width:100%;
}
.carousel-item>a{
	background-size:cover;
	width:100%;
	height:100%;
	display:block;
	background-position:center;
}
.main-section, .section-holder{
	flex:1 1 auto;
}
.main-section{
	margin:20px auto;
}
.home-main-section, .gallery-main-section{
	flex:1 1 auto;
	width:100%;
	margin:0;
}

.gallery-main-section{
	background:#555;
}

.home-main-section{
	background:#111;
}

.navbar-item:hover>a{
	color:#111;
	transition:background,color .3s;
	background:white;
	text-decoration:underline;
	text-decoration-color:#999;
}

.navbar-nav .dropdown-menu{
	border-radius:0;
	border: #16181b;
}

.navbar-nav .dropdown-item:hover{
	background: #585c69;
	transition:background,color .15s;
	color: white;
}

nav ul ul{
	background-color:white;
	border-radius: 0px;
	padding: 5px 0 0 0; 
	position: absolute;
	min-width:200px;
	z-index:2;
	border:1px solid black;
	border-top:none;
	left:-2px;
}

nav ul ul li{
	float: none;
	border-bottom: none;
	position: relative;
	text-align:left;
	
}

nav ul ul li:last-child{
	border-bottom:none;
}
.navbar-nav .dropdown-item{
	text-transform:none;
	letter-spacing:normal;
	font-size:13px;
	color:#16181b;
	font-weight:100;
}

nav ul ul li a:hover{
	text-decoration: none;
}
.navbar-brand{
	padding:0;
}
.navbar-nav .nav-item{
	text-decoration: none;
	font-weight:100;
	text-transform: uppercase;
	color: white;
	padding: 0 2px;
	letter-spacing:3px;
}

.navbar-nav .nav-item.selected{
	background:white;
}
.navbar-nav .nav-item.selected>.nav-link{
	color:black;
	font-weight:bold;
}

.navbar-nav .nav-item.selected .dropdown-item.selected{
	background:black;
	color:white;
	font-weight:400;
}
.main-image{
	background-color:#fff;
	position:relative;
	margin:0px 0;
}

.page-name{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	display:flex;
	flex-flow:row;
	align-items:center;
	align-content:center;
	background:rgba(255,255,255,0.2);
	text-align: center;
	font-size: 30px;
	font-weight:100;
}
.page-name>div{
	flex:0 1 auto;
	display:block;
	text-align:center;
	width:100%;
	text-transform:uppercase;
	letter-spacing:20px;
	font-size:40pt;
	font-weight:100;
}
.page-name>div::before{
	content:'.';
	width:15px;
	display:inline-block;
	color:transparent;
	border-width :3px 0 3px 3px;
	border-style:double;
	border-color:#111;
}
.page-name>div::after{
	position:relative;
	left:-20px;
	content:'.';
	width:15px;
	display:inline-block;
	color:transparent;
	border-width :3px 3px 3px 0;
	border-style:double;
	border-color:#111;
}

.image-thumbs{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.image-thumbs>li{
	width: 450px;
	flex: 1 1 450px;
	min-height: 300px;
}

.image-thumbs>li:hover a>img{
	transition: opacity .4s;
	opacity: 0.5;
}
.image-thumbs img, .main-image img{
	width:100%;
	height:100%;
	display:block;
}
.logo{
	flex:0 0 auto;
	letter-spacing: 3px;
	font-size:13pt;
	display:inline-block;
	text-align:left;
}

.social-icons{
	display:flex;
	flex-flow:row;
	justify-content: center;
}

.social-icons>li{
	padding:0 15px;
}

.social-icons a{
	width:20px;
	padding:3px;
	display:inline-block;
	text-decoration: none;
	color: white;
	border-radius:3px;
}

.social-icons a:hover{
	background:white;
	color:black;
}

.gallery-image-link{
	display:block;
	height:100%;
	background-color:black;
}

footer{
	color:white;
	padding:15px;
	flex:none;
	background:#111;
	text-align:center;
	font-size:12pt;
	font-weight:100;
	display: flex;
	justify-content: center;
}
footer:after{
	content:'';
	clear:both;
	display:block;
}
.footer-content{
	display:flex;
	justify-content: center;
	flex-flow:column;
}
.contact{
	color:white;
	text-decoration:none;
}
.contact:hover{
	display:inline-block;
	padding:0 5px;
	border-radius:3px;
	background:white;
	color:#111;
}

.carousel-caption{
	bottom:15px;
	    padding-bottom: 30px;
	letter-spacing:5px;
	font-weight: 100;
	font-size:18pt;
	left:1%;
	right:1%;
}

.portrait{
	padding:0 20px 20px;
}
h1{
	font-weight:100;
	letter-spacing:2px;
	font-size:24pt;
	margin:15px 0;
	
}
h3{
	margin:0 0 10px;
	text-decoration:underline;
}
h4{
	font-size:  16pt;
	font-weight:300;
	text-align: left;	
	padding: 3px 0 2px;	
	margin: 10px 30px;

}
.box-container{
	border: 1px solid #191919;
	padding-bottom: 5px;
	flex:none;
	background:rgba(255,255,255,.8);
	font-weight:100;
	margin-bottom:20px;
}
.box-left{
	float:left;
}
.clear{
	clear:both;
}
table{
	width: 100%;
}

tr,td{
	padding: 5px 0;
	text-align: center;
}

th>div{
	padding:2px 4px;
	text-align: center;
	margin: 3px;
	text-decoration: underline;
	}

a.link{
	text-decoration: none;
	color: #111;
	padding: 5px 10px 3px;
}

a.link:hover{
	color:white;
	background: #585c69;
}
.info-panel{
	display:flex;
	flex-flow:row;
		margin: 30px 1px;

}
.side-panel{
	flex:1 1 auto;
	padding:0 20px;
	text-align:center;
	line-height:30px;
	letter-spacing:2px;
}

.contact-section-holder{
	background:    url(../_images/32811753293_08030044ae_o.jpg);
}


.about-section-holder{
	background:linear-gradient(
		rgba(255, 255, 255, 0.4), 
		rgba(255, 255, 255, 0.4)
	  ),url(../_images/v2.jpg);
	background-size:cover;
}
.video-section-holder{
	background:#585c69;
	color:white;
}

.video-container{
	text-align: center;

}
.contact-info{
	background:rgba(255,255,255,0.6);
	padding:30px;
	min-height:300px;
	width:500px;
	border:1px solid black;
}
.contact-info li{
	line-height:40px;
	letter-spacing:3px;
	font-weight:100;
}

.contact-info strong{
	font-size:24pt;
	font-weight:100;
}

.contact-label{
	font-weight:300;
}

.download-link{
	color:#da2536;
	text-decoration:none;
}
.download-link>span{
	text-decoration:underline;
}
.download-link:hover{
	color:#FF3D4F;
}
.skills-list{
	display:flex;
	flex-flow:row wrap;
}
.skills-list li{
	padding:20px 32px;
}
.navbar{
	padding:0;
}
.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler{
	border-color:rgba(255,255,255,0.5);
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.header menu>li>a{
	text-decoration: none;
	font-weight: 100;
	text-transform: uppercase;
	color: white;
	padding: 2px 13px;
	letter-spacing: 3px;
	display: inline-block;
}
.header menu>li{
	flex: none;
	position: relative;
	font-size:13px;
}
.header menu>li:last-child{
	border-right: none;
}

table tr:nth-child(odd)>td{
	background-color:rgba(0,0,0,0.3);
}

#landscapesCarouselItem{
	background-image:url(../_images/_KIM6697-2.jpg)
}
#peopleCarouselItem{
	background-image:url(../_images/_KIM7170.JPG)
}
#animalsCarouselItem{
	background-image:url(../_images/_KIM4268.jpg); 
	background-position:top left;
}

@media(min-width:576px){
	h1{
		letter-spacing:3px;
	}
	.carousel-caption{
		top: calc(48% - 30px);
		font-size:24pt;
		letter-spacing:7px;
	}
	h4{
		letter-spacing:2px;
	}
}
@media(min-width:768px){
	h1{

	letter-spacing:4px;
	font-size:28pt;
	margin:30px 0;
	}
	h4{
		font-size:28px;
		font-weight:100;
	}
	.carousel-caption{
	font-size:32pt;
	left:15%;
	right:15%;
	letter-spacing:12px;
	}
	th>div{
		padding: 8px 30px;
	}
}
@media(min-width:992px){
	h1{
		letter-spacing:5px;
		font-size:32pt;
	}
	h4{
		font-size:32px;
	}
	header menu>li{
		border-right: 1px solid white;
	}

	.carousel-caption{
	font-size:40pt;
	letter-spacing:18px;
	}
	.main-section{
		margin:40px auto;
	}
}
@media(min-width:1200px){
	h1{
		letter-spacing:7px;
	}
	h4{
		font-size:36px;
		letter-spacing:3px;
	}
	.carousel-caption{
	font-size:48pt;
	letter-spacing:25px;
	}
}
